<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>
  <add name="AllDbContext" connectionString="data source =.\SQLEXPRESS; initial catalog=OnlineDoctorDatabase; Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <system.serviceModel>
  <client>
    <endpoint name="AuthenticationService"
                address="net.tcp://localhost:4000/IAuthentication"
                binding="netTcpBinding"
                contract="Common.ServiceContracts.IAuthentication"
                />
    <endpoint name="RetrievePatientsService"
              address="net.tcp://localhost:4000/IRetrievePatients"
              binding="netTcpBinding"
              contract="Common.ServiceContracts.PatientServiceContracts.IRetrievePatients"/>
    <endpoint name="RetrieveDoctorsService"
              address="net.tcp://localhost:4000/IRetrieveDoctors"
              binding="netTcpBinding"
              contract="Common.ServiceContracts.DoctorServiceContracts.IRetrieveDoctors"/>
  </client>
  </system.serviceModel>
</configuration>